.upLeftCharacterName {
	position:absolute;
	left: 0;
	top: 0;
}
.upRightCharacterName {
	position:absolute;
	top: 0;
	right: 0;
}
.scoreboardBottomLeft {

}
.background {
	position:absolute;
	height: 1080px;
	width: 1920px;
	left: 0;
	top: 0;
	z-index: -1;
}
.scoreboardContainerLeft
{
	position: absolute;
	bottom: 60px;
	width: 570px;
	left: 0%;
}
.content {
	font-family: 'Montserrat', sans-serif;
	left: -5%;
	position:absolute;
	text-align: center;
	top: 15px;
	color: #fff;
	font-size: 30px;
	width: 100%;
	vertical-align: middle;
}
.contentDownRight {
	font-family: 'Montserrat', sans-serif;
	left: -5%;
	position:absolute;
	text-align: center;
	top: 7px;
	color: #fff;
	font-size: 25px;
	width: 100%;
	vertical-align: middle;
}
.contentDownRightText {
	margin-bottom: 15px;
}
.contentTop {
	font-family: 'Montserrat', sans-serif;
	left: 0%;
	position:absolute;
	text-align: center;
	top: 11px;
	color: #fff;
	font-size: 25px;
	width: 100%;
	vertical-align: middle;
}
.upUI {
	position: absolute;
	top: 0px;
	left: 0%;
	width: 560px;
}
.upUIR {
	position: absolute;
	top: 0px;
	left: 740px;
	width: 570px;
}
.microphone {
	
}
.rightDownContainer
{
	position: absolute;
	bottom: 50px;
	right: 30px;
	width: 500px;
}
.rightDown
{
	
}
.contentRightDown {
	font-family: 'Montserrat', sans-serif;
	bottom: 0;
	position:absolute;
	text-align: center;
	top: 15px;
	color: #fff;
	font-size: 30px;
	width: 100%;
	vertical-align: middle;
}
.contentRight {
	font-family: 'Montserrat', sans-serif;
	position:absolute;
	text-align: center;
	top: 15px;
	color: #fff;
	font-size: 30px;
	width: 100%;
	vertical-align: middle;
}
.sponsorImg {
	vertical-align: middle;
	margin-bottom: 10px;
}
.microphoneImage {
	vertical-align: middle;
	margin-bottom: 6px;
	
}
.characterImgP2 {
	font-family: 'Montserrat', sans-serif;
	position:absolute;
	top: 14px;
	right: 2%;
	height: 40px;
	transform:scale(-1,1);
	-webkit-transform:scale(-1,1);
	-moz-transform:scale(-1,1);
	-o-transform:scale(-1,1);
}
.player1StreamCamName
{
	position:absolute;
	top: 260px;
	width: 500px;
	right: 60px;
	font-family: 'Montserrat', sans-serif;
	color: #fff;
	font-size: 20px;
	text-align: center;
}

.player2StreamCamName
{
	position:absolute;
	top: 545px;
	width: 500px;
	right: 60px;
	font-family: 'Montserrat', sans-serif;
	color: #fff;
	font-size: 20px;
	text-align: center;
}
.characterImgP1 {
	font-family: 'Montserrat', sans-serif;
	position:absolute;
	top: 14px;
	left: 2%;
	height: 40px;
}
.flagImgP2 {
	font-family: 'Montserrat', sans-serif;
	position:absolute;
	top: 22px;
	right: 2%;
}
.flagImgP1 {
	font-family: 'Montserrat', sans-serif;
	position:absolute;
	top: 22px;
	left: 2%;
}
.scoreboardBottomRight {

}
.scoreboardContainerRight{
	position: absolute;
	bottom: 60px;
	right: 610px;
	width: 570px;
}
.dummy
{
	
}
.sponsors {
	position: absolute;
	left: 250px;
	top: 50px;
	
}
body {
}
